{% extends 'base.html' %}
{% load static %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %}{% include 'banner.html' %} {% endblock banner %}
{% block content %}

<div class="container mt-5 mb-5">
  <h1 class="text-center text-capitalize pt-5 mb-5">profile update</h1>
  <div class="row">
    <div class="col-md-4 pavat">
      <img src="{{userprof.pix.url}}"  alt="" style="height: 150px;">
      <h5>{{userprof.user}}</h5>
      <hr>
      <ul class="list-unstyled">
        <li><a href="{% url 'profile' %}">profile</a></li>
        <li><a href="{% url 'profile_update' %}">profile update</a></li>
        <li><a href="{% url 'password_update' %}">password update</a></li>
      </ul>
    </div>
    <div class="col-md-8 thank">
      <img src="{% static '' %}img/istockphoto-1132817705-612x612.jpg" alt="" style="height: 200px;">
      <p>dear <span>{{userprof.first_name}}</span> your order has been received and one of our
      representative will contact you shortly. Thanks for your patronage!</p>
      <a href="{% url 'home' %}"><button class="btn btn-primary">Back home</button></a>
    </div>
  </div>
</div>
  </div>
</div>
    
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
    