{% extends 'base.html' %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %}{% include 'banner.html' %} {% endblock banner %}
{% block content %}

<div class="container-fluid mt-5 mb-5">
  <div class="row cart">
    <div class="col-md-6">
      <h1 class="text-capitalize text-center mb-5">summary</h1>
    <table class="cart">
      <thead>
        <th>img</th>
        <th>item</th>
        <th>price</th>
        <th>quantity</th>
        <th>amount</th>
      </thead>

      <tbody>
        
        {% for item in cart %}
        <tr class="item">
          <td><img src="{{item.product.pix.url}}" alt="" style="height: 50px;"></td>
          <td>{{item.product}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.amount}}</td>
        </tr>
        {% endfor %}
        
        <tr class="subtot">
          <td></td>
          <td></td>
          <td></td>
          <td>total=</td>
          <td>₦1500</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-md-6 checkout mt-3">
      <h1 class="text-capitalize text-center mb-5">delivery information</h1>
      <form action="{% url 'payment' %}" method="POST" >
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">first name</label>
          <input type="text" name="first_name" value="{{userprof.first_name}}" class="form-control" id="exampleFormControlInput1" placeholder="john">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">last name</label>
          <input type="text" name="last_name" value="{{userprof.last_name}}" class="form-control" id="exampleFormControlInput1" placeholder="doe">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">phone</label>
          <input type="text" name="phone" value="{{userprof.phone}}" class="form-control" id="exampleFormControlInput1" placeholder="number">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">address</label>
          <input type="text" name="address" value="{{userprof.address}}" class="form-control" id="exampleFormControlInput1" placeholder="text">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">email</label>
          <input type="hidden" name="total" value="{{total}}">
          <input type="email" name="email" value="{{userprof.email}}" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">pay now</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
    