{% extends 'base.html' %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %}{% include 'banner.html' %} {% endblock banner %}
{% block content %}
<div class="container mb-5 mt-5 det">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{{prodet.pix.url}}" class="img-fluid rounded-start" style="height: 5ovh;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title">{{prodet.title}}</h1>
          {% if prodet.promo_price %}
          <p class="card-text">₦{{prodet.promo_price}}</p>
          <del><p class="card-text">₦{{prodet.price}}</p></del>
          {% else %}
          <p class="card-text">₦{{prodet.price}}</p>
          {% endif %}
          <hr>
          <p>{{prodet.description}}</p>
          <button class="btn btn-primary">add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %}{% include 'footer.html' %}{% endblock footer %}

    