
    <div class="container-fluid">
        <div class="row fbag">
            <div class="col-12 col-md-4">
              <h3>useful link</h3>
              <ul class="list-unstyled">
                <li><a href="">home</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">privacy policy</a></li>
                <li><a href="">return policy</a></li>
                <li><a href="">terms & conditions</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-4">
              <img src="/img/APEX CODERS.png" alt="">
            </div>
            <div class="col-12 col-md-4">
              <h3>contact information</h3>
              <ul class="list-unstyled fcont">
                <li><i class="bi bi-envelope-fill"></i>info@apexcoders.com</li>
                <li><i class="bi bi-telephone-fill"></i>+234 9090909090</li>
                <li><i class='bx bxl-facebook-square'></i></li>
                  <li class="list-inline-item"><i class="bi bi-instagram"></i></li>
                  <li class="list-inline-item"><i class="bi bi-tiktok"></i></li>
                  <li class="list-inline-item"><i class="bi bi-twitter"></i></li>
              </ul>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text-white text-center text-capitalize pt-3">&copy; copyright 2023 | all reserved</p>
          </div>
        </div>
      </div>
