{% extends 'base.html' %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block carousel %}{% include 'carousel.html' %} {% endblock carousel %}
{% block content %}
<div class="container mb-5">
    <h1 class="text-center title text-capitalize mt-5 mb-5">feature products</h1>
    <div class="row">

        {% for item in top %}
        <div class="col-12 col-md-6 col-lg-3 tcard">
            <div class="card">
                <a href="{% url 'detail' item.id %}"><img src="{{item.pix.url}}" class="card-img-top" alt="..." style="height: 250px;"></a>
                <div class="card-body">
                  <h5 class="card-title text-capitalize">{{item.title}}</h5>
                  {% if item.promo_price %}
                  <p class="card-text">₦{{item.promo_price}}</p>
                  <del><p class="card-text">₦{{item.price}}</p></del>
                  {% else %}
                  <p class="card-text">₦{{item.price}}</p>
                  {% endif %}
                  <form action="{% url 'add_to_cart' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="itemid" value="{{item.id}}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="sumbit" class="btn btn-primary text-capitalize">add to cart</a>
                  </form>
                </div>
              </div>
        </div>
        {% endfor %}
        
    </div>
   <div class="container-fluid mt-5 mb-5 catbag">
    <h1 class="text-center title text-capitalize mt-5 mb-5">browse by </h1>
    <div class="row catrow">
       {% for category in category %}   
      <div class="col-12 col-md-6 categ">
      <a href="{% url 'category' category.id category.catslug %}"><img src="{{category.catimg.url}}" alt=""></a>
        <p class="badge bg-black text-white">{{category.name}}</p>
      </div>
      {% endfor %}
    </div>
   </div>
   </div>

   <div class="container mb-5">
    <h1 class="text-center title text-capitalize mt-5 mb-5">top selling products</h1>
    <div class="row">
        {% for items in feature %}
        <div class="col-12 col-md-6 col-lg-3 tcard">
            <div class="card">
                <a href="{% url 'detail' items.id %}"><img src="{{items.pix.url}}" class="card-img-top" alt="..." style="height: 250px;"></a>
                <div class="card-body">
                  <h5 class="card-title text-capitalize">{{items.title}}</h5>
                  {% if items.promo_price %}
                  <p class="card-text">₦{{items.promo_price}}</p>
                  <del><p class="card-text">₦{{items.price}}</p></del>
                  {% else %}
                  <p class="card-text">₦{{items.price}}</p>
                  {% endif %}
                   <form action="{% url 'add_to_cart' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="itemid" value="{{items.id}}">
                  <input type="hidden" name="quantity" value="1">
                  <button type="sumbit" class="btn btn-primary text-capitalize">add to cart</a>
                  </form>
                </div>
              </div>
        </div>
        {% endfor %}
        
        <div class="mt-5 pagin">
          <nav aria-label="Page navigation example mt-5">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
{% endblock content %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
    