{% extends 'base.html' %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block banner %}{% include 'banner.html' %} {% endblock banner %}
{% block content %}

<div class="container mt-5 mb-5">
  <h1 class="text-center text-capitalize pt-5 mb-5">password update</h1>
  <div class="row">
    <div class="col-md-4 pavat">
      <img src="{{userprof.pix.url}}"  alt="" style="height: 150px;">
      <h5>{{userprof.user}}</h5>
      <hr>
      <ul class="list-unstyled">
        <li><a href="{% url 'profile' %}">profile</a></li>
        <li><a href="{% url 'profile_update' %}">profile update</a></li>
        <li><a href="{% url 'password_update' %}">password update</a></li>
      </ul>
    </div>
    <div class="col-md-8 pform">
      <form action="{% url 'password_update' %}" method="POST">
        {% csrf_token %}
       {{form.as_p}}
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
    
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
    